# Разное
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# Файлы IntelliJ
*.iml
*.ipr
*.iws
.idea/

# Папка .vscode содержит конфигурацию запуска и задачи VS Code, которые может
# потребоваться включить в систему контроля версий, поэтому по умолчанию эта
# строка закомментирована.
#.vscode/

# Файлы Flutter/Dart/Pub
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/coverage/

# Файлы символизации
app.*.symbols

# Файлы обфускации
app.*.map.json

# Сюда Android Studio помещает артефакты сборки
/android/app/debug
/android/app/profile
/android/app/release
