flutter/ephemeral/

# Пользовательские файлы Visual Studio.
*.suo
*.user
*.userosscache
*.sln.docstates

# Файлы сборки Visual Studio.
x64/
x86/

# Файлы кэша Visual Studio
# файлы с окончанием .cache можно игнорировать
*.[Cc]ache
# но каталоги с окончанием .cache нужно отслеживать
!*.[Cc]ache/
